body{
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.table{
    padding-left: 140px;
}

h1{
    text-align: center;
    color: black;
    opacity: 0.5;
}
 
#div{
    background-color: white;
    border-radius: 25px;
    margin-left: 380px;
    margin-right: 380px;
}

.rich{
padding-left: 15px;
}
    
    



    



    
    


